{% extends "base.html" %}

{% block content %}


<!--<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">-->


    <div class="mx-auto" style="max-width: 900px; width: 100%; padding: 0 15px;">
        <h3 class="mb-4 text-center">Announcement</h3>

        <div class="card shadow-sm">
            <div class="card-body p-4">
                <form method="POST" novalidate>
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        {{ form.title }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Content</label>
                        {{ form.content }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Date</label>
                        {{ form.announce_date }}
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary px-4">Submit</button>
                    </div>

                </form>
            </div>
        </div>

    </div>



{% endblock %}