{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-lg p-4">
                <h3 class="text-center mb-4">Login</h3>

                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" name="email" placeholder="Enter Email">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter Password" id="myInput">
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" onclick="myFunction()">
                        <label class="form-check-label">Show Password</label>
                    </div>


                    <button type="submit" class="btn btn-dark w-100">
                        Login
                    </button>

                </form>

                <p class="text-center mt-3">
                    Don't have an account?
                    <a href="{% url 'register' %}">Signup</a>
                </p>
            </div>
        </div>
    </div>
</div>


{% load static %}
<script src="{% static 'user/js/main.js' %}"></script>

{% endblock %}

